body{background-color:#ffc539;
	font-family: futura;
	padding-left: 30px;
	
}
h1{color:#7e4421;
font-family: Comic Sans MS; }

#blob {
	padding: 5px;
	position:relative;
	width:auto;
	

}
#dolphin {
	
	position:relative;
	width:auto;
	}


