

#box1{
	background: red;
	height:100px;
}

.box2{
	background-color: orange;
	height:100px;
}
.box3{
	background-color: yellow;
	height:100px;
}

@media only screen and (max-width:800px){
	#box1 {
		width:100%;
		background: orange;
		height:100px;
	}
}
@media only screen and (max-width:800px){
	.box2 {
		width:100%;
		background: yellow;
		height:100px;
	}
}
@media only screen and (max-width:800px){
	.box3 {
		width:100%;
		background: green;
		height:100px;
	}
}